@charset "UTF-8";
/* Andy Bell’s Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*colors*/
/*fonts*/
html {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: auto;
}

.heading__title {
  font-size: 2.133rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -1.1428571939468384px;
  text-align: center;
  color: #512051;
  margin: 5rem 0 1.125rem;
}

.heading__description {
  max-width: 19rem;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #927b91;
}

.ratings {
  margin-bottom: 3.0625rem;
}

.ratings__first,
.ratings__second,
.ratings__third {
  max-width: 327px;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #f7f2f7;
  font-size: 0.86rem;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  color: #512051;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.ratings-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0.53rem;
  padding: 1rem 0 1rem;
}

.ratings-stars img {
  padding-right: 0.53rem;
}

.ratings-stars img:last-of-type {
  padding-right: 0;
}

.testimonial {
  margin-bottom: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonial__content {
  max-width: 327px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #512051;
  color: #ffffff;
  margin-bottom: 1rem;
}

.testimonial__content__picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 2.3rem 1.4375rem 1.625rem 1.8rem;
}

.testimonial__content__name {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  padding: 2.45rem 0 0.3rem;
}

.testimonial__content__occupation {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color: #ee69a4;
  margin-bottom: 1.58rem;
}

.testimonial__content__blockquote {
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.2321428507566452px;
  text-align: left;
  color: #f7f2f7;
  padding: 0 1.8rem 1.8rem 1.8rem;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  bottom: 6rem;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1150px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
        grid-template-areas: "heading ratings" "testimonial testimonial";
  }
  .heading {
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-column-span: 1;
            column-span: 1;
    grid-row: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: heading;
    margin-top: 7.9rem;
  }
  .ratings {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ratings;
  }
  .testimonial {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: testimonial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 4.5rem;
  }
}
/*# sourceMappingURL=style.css.map */