@charset "UTF-8";
/* Andy Bell’s Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*colors*/
/*fonts*/
html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: auto;
}

.heading__title {
  font-family: "Spartan", sans-serif;
  font-size: 2.133rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -1.1428571939468384px;
  text-align: center;
  color: #512051;
  margin: 5rem 0 1.125rem;
}

.heading__description {
  max-width: 19rem;
  margin: 0 auto;
  font-family: "Spartan", sans-serif;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #927b91;
}

.ratings {
  margin-bottom: 3.0625rem;
}

.ratings__first,
.ratings__second,
.ratings__third {
  max-width: 327px;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #f7f2f7;
  font-family: "Spartan", sans-serif;
  font-size: 0.86rem;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  color: #512051;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.ratings-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0.53rem;
  padding: 1rem 0 1rem;
}

.ratings-stars img {
  padding-right: 0.53rem;
}

.ratings-stars img:last-of-type {
  padding-right: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */